.title {
    margin: 2rem 0 3rem 0;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.subtitle {
    margin: 1.5rem 0;
    font-weight: bold;
}

.bold-normal {
    font-weight: normal;
    color: #fff;
}

.font-size-1 {
    font-size: 1rem;
}

.lemon {
    color: #E9D985;
}

.flex {
    display: flex;
}

.margin-right{
    margin-right: 2rem;
}