.title {
	padding: 5rem 0 3rem 0;
}

.container-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.container-btns {
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mx-2 {
	margin: 0 2rem;
}

.subtitle {
	margin: 1.5rem 0;
	font-weight: bold;
}

.bold-normal {
	font-weight: normal;
	color: #fff;
}

.font-size-1 {
	font-size: 1rem;
}

.lemon {
	color: #e9d985;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.margin-right {
	margin-right: 2rem;
}

.overflow {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
